
@import 'styles/shared';

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: $z-index-canvas;

  // This is generally bad for accessibility but improves the overall touch
  // experience. We hope to compensate the disabling of the zoom gestures by
  // providing a scaling option in the app settings.
  touch-action: none;

  &--wire {
    cursor: grabbing;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
  }

  &--wire &__content {
    // While wiring, only enable pointer events on possible targets
    pointer-events: none;
  }

  &__wire-draft {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: rem(40);
    color: $c-meta;
  }

  &__empty-message {
    text-align: center;
  }
}
