
@import '../../styles/shared';

.canvas {
  position: relative;
  z-index: $z-index-canvas;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;

  @include with-canvas-mode(line) {
    min-height: rem(480);
  }

  @include with-canvas-mode(plane) {
    height: 100%;
  }

  &--wire {
    cursor: grabbing;
    touch-action: none;
    -webkit-touch-callout: none;
  }

  &__content {
    padding: rem(32) 0 rem(8);

    @include with-canvas-mode(line) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include with-canvas-mode(plane) {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0px, 0px);
    }
  }

  &--wire &__content {
    // While wiring, only enable pointer events on possible targets
    pointer-events: none;
  }

  &__wire-draft {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-wire-draft;
    pointer-events: none;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: rem(32);
    color: $c-meta;
  }

  &__empty-message {
    @extend %t-text;
    text-align: center;
    max-width: rem(320);
  }

  &__scrollbars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-index-canvas-scrollbars;
    pointer-events: none;
  }

  &--modal &__scrollbars {
    visibility: hidden;
  }
}
