
@import 'styles/shared';

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  width: 100dvw;
  height: 100dvh;
  min-height: 560px;
  filter: blur(0rem);
  transition-property: filter;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  user-select: none;

  &__header {
    padding: rem(24);
  }
}
