
@font-face {
  font-display: swap;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: local(''),
        url('https://cdn.ciphereditor.com/assets/fonts/lexend-deca-v16-latin-ext_latin-regular.woff2') format('woff2'),
        url('https://cdn.ciphereditor.com/assets/fonts/lexend-deca-v16-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 600;
  src: local(''),
        url('https://cdn.ciphereditor.com/assets/fonts/lexend-deca-v16-latin-ext_latin-600.woff2') format('woff2'),
        url('https://cdn.ciphereditor.com/assets/fonts/lexend-deca-v16-latin-ext_latin-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
        url('https://cdn.ciphereditor.com/assets/fonts/ibm-plex-mono-v12-latin-regular.woff2') format('woff2'),
        url('https://cdn.ciphereditor.com/assets/fonts/ibm-plex-mono-v12-latin-regular.woff') format('woff');
}
