
* {
  box-sizing: border-box;
  outline: 0;
  word-break: break-word;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: $c-muted;
  overflow-x: none;
  overflow-y: auto;
  overscroll-behavior: none;
}

body.body-grabbing * {
  cursor: grabbing !important;
}

body,
button,
input,
textarea {
  @extend %t-text;
  color: $c-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='text'],
select,
textarea,
fieldset,
fieldset legend {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
}

button {
  margin: 0;
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  text-align: inherit;
  appearance: none;
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}


ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul,
li {
  list-style-type: none;
}

:focus {
  outline: rem(1) solid $c-primary;
}

:focus:not(:focus-visible) {
  outline: 0;
}

:focus-visible {
  outline: rem(1) solid $c-primary;
}

::selection {
  background: $c-primary;
  color: $c-background;
}

::-webkit-input-placeholder {
  color: $c-meta;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $c-meta;
  opacity: 1;
}

::placeholder {
  color: $c-meta;
  opacity: 1;
}
