
@import '../../styles/shared';

.control-drawer {

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(48);
  }

  &__value {
    padding: 0 rem(8);
  }

  &__footer-start,
  &__footer-end {
    padding: rem(8);
  }
}
