
@use 'sass:math';

%t-text {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: rem(16);
  line-height: math.div(24, 16);
  letter-spacing: 0;
  text-transform: none;
}

%t-label {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: rem(16);
  line-height: math.div(24, 16);
  letter-spacing: 0;
  text-transform: none;
}

%t-h1 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  font-size: rem(32);
  line-height: math.div(40, 32);
  letter-spacing: rem(-1);
  text-transform: none;

  @include breakpoint(l, xl) {
    font-size: rem(40);
    line-height: math.div(48, 40);
  }
}

%t-h2 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  font-size: rem(24);
  line-height: math.div(32, 24);
  letter-spacing: 0;
  text-transform: none;

  @include breakpoint(l, xl) {
    font-size: rem(32);
    line-height: math.div(40, 32);
  }
}

%t-h3 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  font-size: rem(16);
  line-height: math.div(24, 16);
  letter-spacing: 0;
  text-transform: none;

  @include breakpoint(l, xl) {
    font-size: rem(24);
    line-height: math.div(32, 24);
  }
}

%t-h4 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  font-size: rem(14);
  line-height: math.div(24, 14);
  letter-spacing: 0;
  text-transform: uppercase;
}

%t-node-label {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 600;
  font-size: rem(16);
  line-height: math.div(24, 16);
  letter-spacing: 0;
  text-transform: none;
}

%t-value {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: rem(16);
  line-height: math.div(24, 16);
  letter-spacing: 0;
  text-transform: none;
}
