
@import 'styles/shared';

.node {
  padding: rem(8);
  border-radius: rem(16);
  border: rem(2) solid $c-muted;
  width: rem(320);
  box-sizing: content-box;
  background: $c-muted;
  cursor: default;

  &--selected {
    border-color: $c-line;
  }
}
