
@import 'styles/shared';

.node {
  position: relative;
  width: rem(320);
  cursor: default;
  outline: none;

  // Selected frame
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: rem(-10);
    right: rem(-10);
    bottom: rem(-10);
    left: rem(-10);
    z-index: -1;
    border-radius: rem(16);
    border: rem(2) solid $c-muted;
    background: $c-muted;
  }

  &--selected::before {
    border-color: $c-line;
  }
}
