
@import 'styles/shared';

.operation {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $c-background;
  color: $c-text;
  border-radius: rem(8);
  user-select: none;

  &__header {
    display: flex;
    align-items: center;
    line-height: 0;
    background: $c-primary;
    color: $c-background;
    cursor: grab;
  }

  &__icon {
    padding-left: rem(16);

    svg {
      margin: 0 rem(-4);
      fill: currentColor;
    }
  }

  &__label {
    flex-grow: 1;
    flex-basis: 0;
    @extend %t-h3;
    padding: rem(16 - 1) rem(40) rem(16 - 1) rem(8);
  }

  &__control,
  &__header {
    border-bottom: rem(2) solid $c-muted;
  }

  &__control:last-child {
    border-bottom: none;
  }
}
