
@import 'styles/shared';

.operation {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $c-background;
  color: $c-text;
  border-radius: rem(8);
  user-select: none;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(8 - 1) rem(8) rem(8 - 1) rem(8);
    line-height: 0;
    color: $c-primary;
    cursor: grab;
  }

  &__header-start,
  &__header-end {
    display: flex;
    align-items: center;
  }

  &__pill {
    display: flex;
    align-items: center;
    padding: rem(4);
    line-height: 0;
    border-radius: rem(4);
    color: $c-background;
    background: $c-primary;
  }

  &--error &__pill {
    color: $c-background;
    background: $c-danger;
  }

  &__pill:hover {
    color: $c-control-hover-color;
    background: $c-control-hover-background;
  }

  &__pill:focus-visible {
    color: $c-control-hover-color;
    background: $c-control-hover-background;
  }

  &__pill:active {
    color: $c-control-active-color;
    background: $c-control-active-background;
  }

  &__label {
    padding: 0 rem(4);
    flex-grow: 1;
    flex-basis: 0;
    @extend %t-h3;
  }

  &__control,
  &__header {
    border-bottom: rem(2) solid $c-muted;
  }

  &__control:last-child {
    border-bottom: none;
  }
}
