
@import '../../styles/shared';

.toolbar {
  $block: &;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: rem(-4);

  &__brand,
  &__button {
    padding: rem(4);
  }

  &__group {
    display: flex;
    margin: rem(-1);

    > #{$block}__button {
      padding: rem(1);
    }
  }

  &__spacer {
    flex-grow: 1;
    flex-basis: 0;
  }

  &__brand {
    padding: 0 rem(8);
  }
}
