
@import 'styles/shared';

.blueprint {
  position: relative;
  padding: 0 rem(24) rem(24) 0;

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  &__node {
    position: relative;
    display: inline-flex;
    width: rem(320);
    margin: rem(24) 0 0 rem(24);
  }
}
