
$c-black: #000000;
$c-white: #ffffff;

$c-primary: var(--c-primary);
$c-secondary: var(--c-secondary);
$c-muted: var(--c-muted);
$c-line: var(--c-line);
$c-text: var(--c-text);
$c-meta: var(--c-meta);
$c-background: var(--c-background);
