
$c-black: #000000;
$c-white: #ffffff;

$c-primary: var(--c-primary);
$c-secondary: var(--c-secondary);
$c-muted: var(--c-muted);
$c-line: var(--c-line);
$c-text: var(--c-text);
$c-meta: var(--c-meta);
$c-background: var(--c-background);

$c-control-default-color: $c-text;
$c-control-default-background: $c-background;

$c-control-hover-color: $c-text;
$c-control-hover-background: $c-line;

// TODO: Add magic color value to color scheme
$c-control-active-color: $c-text;
$c-control-active-background: darken(#19253C, 2);

$c-control-disabled-color: $c-meta;
$c-control-disabled-background: $c-background;
