
//  Theme colors
$themes: (
  dark: (
    primary: #169aed,
    secondary: #014da8,
    danger: #ed3c15,
    muted: #040d21,
    line: #19253c,
    text: #ffffff,
    meta: #8193b2,
    background: #13182c
  ),
  light: (
    primary: #169aed,
    secondary: #014da8,
    danger: #ed3c15,
    muted: #f2f4f6,
    line: #cfd9e3,
    text: #002f6d,
    meta: #688097,
    background: #ffffff
  )
);

// Theme color variables to be used throughout the code
$c-primary: var(--c-primary);
$c-secondary: var(--c-secondary);
$c-danger: var(--c-danger);
$c-muted: var(--c-muted);
$c-line: var(--c-line);
$c-text: var(--c-text);
$c-meta: var(--c-meta);
$c-background: var(--c-background);

$c-control-default-color: $c-text;
$c-control-default-background: $c-background;

$c-control-hover-color: $c-text;
$c-control-hover-background: $c-line;

// TODO: Add magic color value to color scheme
$c-control-active-color: $c-text;
$c-control-active-background: darken(#19253C, 2);

$c-control-disabled-color: $c-meta;
$c-control-disabled-background: $c-background;
