
@import '../../styles/shared';

.select {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  height: rem(32);
  line-height: 0;
  padding: 0 0 0 rem(8);
  border-radius: rem(4);
  color: $c-control-default-color;
  background: $c-control-default-background;
  outline: none;

  &--meta {
    color: $c-meta;
  }

  &--transparent {
    background: transparent;
  }

  &--muted,
  .modal & {
    background: $c-muted;
  }

  &:hover {
    color: $c-control-hover-color;
    background: $c-control-hover-background;
  }

  &:focus-within {
    color: $c-control-hover-color;
    background: $c-control-hover-background;
  }

  &:active {
    color: $c-control-active-color;
    background: $c-control-active-background;
  }

  &--primary,
  &--primary:hover,
  &--primary:active {
    color: $c-primary;
  }

  &--primary:focus-within {
    color: $c-primary;
  }

  &:disabled {
    color: $c-control-disabled-color;
    background: $c-control-disabled-background;
    cursor: default;
  }

  &--chevron-first {
    padding: 0 rem(8) 0 0;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    @extend %t-label;
    cursor: pointer;
    outline: none;

    // Make select invisible
    text-indent: -1000px;
  }

  &__value {
    @extend %t-label;
    pointer-events: none;
    white-space: nowrap;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__chevron {
    pointer-events: none;
  }

  &--chevron-first &__chevron {
    order: -1;
  }

  &--control-footer &__chevron {
    right: rem(16);
  }
}
