
@import '../../styles/shared';

.control {
  position: relative;
  width: 100%;
  background: $c-background;
  border-radius: rem(8);
  line-height: 0;
  outline: none;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: rem(48 - 2);
    border-radius: rem(8);
  }

  &--wire-targetable &__header {
    pointer-events: all;
    cursor: grabbing;
  }

  &--wire-target &__header {
    background: $c-control-hover-background;
  }

  &__toggle {
    display: flex;
    position: relative;
    padding: rem(8 - 1) 0 rem(8 - 1) rem(8);
    flex-grow: 1;
    flex-basis: 0;
    line-height: 0;
    width: rem(288);
    white-space: nowrap;
    overflow: hidden;
    color: $c-text;
    outline: none;

    &::after {
      content: '';
      position: absolute;
      top: rem(4);
      right: 0;
      bottom: rem(4);
      width: rem(16);
      // TODO: Add transparent background color property
      background: linear-gradient(to right, rgba(#13182C, 0.0), $c-background);
    }
  }

  &--wire-targetable &__toggle {
    pointer-events: none;
  }

  &--wire-target &__toggle::after {
    // TODO: Add transparent background color property
    background: linear-gradient(to right, rgba(#19253c, 0.0), $c-control-hover-background);
  }

  &__pill {
    display: flex;
    flex-direction: row;
    padding: rem(4) rem(4) rem(4) 0;
    margin: 0 rem(8) 0 0;
    border-radius: rem(4);
    color: $c-control-default-color;
    background: $c-control-default-background;
  }

  &__toggle:hover &__pill,
  &--wire-target &__pill {
    color: $c-control-hover-color;
    background: $c-control-hover-background;
  }

  &__toggle:focus-visible &__pill {
    color: $c-control-hover-color;
    background: $c-control-hover-background;
  }

  &__toggle:active &__pill {
    color: $c-control-active-color;
    background: $c-control-active-background;
  }

  &__chevron {
    transform: rotate(-90deg);
  }

  &--expanded &__chevron {
    transform: none;
  }

  &__name {
    display: inline;
    padding-right: rem(4);
    @extend %t-label;
  }

  &__issue {

    &--error {
      color: $c-danger;
    }
  }

  &__preview {
    position: relative;
    display: inline-block;
    @extend %t-value;
    line-height: rem(32);
    color: $c-meta;
  }
}
