
@import 'styles/shared';

.outlet {
  display: flex;
  align-items: center;
  color: $c-meta;

  &__select {
    margin-right: rem(-2);
  }

  &__indicator {
    padding: rem(8) rem(8) rem(8) 0;
    line-height: 0;
    cursor: grab;
  }

  &--push,
  &--pull {
    color: $c-primary;
  }
}
