
@import 'styles/shared';

.outlet {
  display: flex;
  align-items: center;
  color: $c-white;

  &__indicator {
    padding: rem(12) 0 rem(12) rem(16);
    line-height: 0;

    svg {
      fill: currentColor;
      margin: 0 rem(-4);
    }
  }

  &--push,
  &--pull {
    color: $c-primary;
  }

  &--expanded &__indicator {
    padding-right: rem(8);
  }
}
