
@import 'styles/shared';

.wire {
  outline: none;
  cursor: pointer;
  pointer-events: none;
  color: $c-primary;

  &__svg-wire,
  &__svg-caps {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
    pointer-events: none;
    overflow: visible;
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &__svg-caps {
    stroke: none;
    fill: currentColor;
    z-index: $z-index-canvas-wire-caps;
  }

  &__path-shadow,
  &__path-wire,
  &__path-caps {
    pointer-events: all;
  }

  &__path-shadow {
    stroke: $c-muted;
    stroke-width: rem(10);
  }

  &__path-wire {
    stroke: currentColor;
    stroke-width: rem(2);
  }

  &--selected,
  &:hover {
    color: $c-text;
  }
}
