
@import '../../styles/shared';

.modal-stack {
  display: grid;
  pointer-events: none;

  &__layer {
    grid-area: 1 / 1 / 2 / 2;
  }

  &__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $c-muted;
    opacity: 0.6;
    pointer-events: all;
    z-index: $z-index-app-modal;
  }

  &__modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(88) rem(24) rem(40);
    z-index: $z-index-app-modal;
  }
}
