
@import 'styles/shared';

.control {
  position: relative;
  width: 100%;
  background: $c-background;
  border-radius: rem(8);
  line-height: 0;
  outline: none;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  &__header-toggle {
    display: flex;
    position: relative;
    padding: rem(12) 0 rem(12) rem(12);
    flex-grow: 1;
    flex-basis: 0;
    line-height: 0;
    width: rem(288);
    white-space: nowrap;
    overflow: hidden;
    color: $c-meta;

    &::after {
      content: '';
      position: absolute;
      top: rem(4);
      right: 0;
      bottom: rem(4);
      width: rem(8);
      // TODO: Add transparent background color property
      background: linear-gradient(to right, rgba(#13182C, 0.0), $c-background);
    }
  }

  &__header-chevron {
    padding-right: rem(4);

    svg {
      fill: $c-text;
      margin: 0 rem(-4);
    }
  }

  &__header-name {
    display: inline;
    padding-right: rem(8);
    @extend %t-label;
    color: $c-text;
  }

  &__header-preview {
    display: inline;
    @extend %t-value;
  }
}
