
@import 'styles/shared';

.animated-text {
  display: inline-block;
  position: relative;

  &__last,
  &__current {
    display: inline-block;
    height: 100%;
    transform: translate(0, 0);
    visibility: visible;
    transition-property: transform, visibility;
    transition-duration: 0.2s;
  }

  &__last {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -100%);
    visibility: hidden;

    &--trigger {
      transform: translate(0, 0);
      transition-duration: 0s;
      visibility: visible;
    }
  }

  &__current {
    transform: translate(0, 0);
    visibility: visible;

    &--trigger {
      transform: translate(0, 100%);
      transition-duration: 0s;
      visibility: hidden;
    }
  }
}
