
@import '../../styles/shared';

.app-header {
  padding: rem(8);
  z-index: $z-index-app-header;
  pointer-events: none;
  border-bottom: rem(2) solid $c-muted;
  background: $c-background;
  -webkit-app-region: drag;

  &__toolbar {
    display: block;
    padding: 0 rem(16);
    line-height: 0;
    pointer-events: initial;
  }

  .root--env-darwin &__start {
    padding-left: rem(84);
  }

  .root--embed-website &__brand,
  .root--embed-electron &__brand {
    display: none;
  }
}
