
@use 'sass:math';

%t-text {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: rem(16);
  line-height: math.div(24, 16);
}

%t-label {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: rem(16);
  line-height: math.div(24, 16);
}

%t-h1 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  font-size: rem(32);
  line-height: math.div(40, 32);
  letter-spacing: rem(-1);
}

%t-h2 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  font-size: rem(24);
  line-height: math.div(32, 24);
}

%t-h3 {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  font-size: rem(16);
  line-height: math.div(24, 16);
}

%t-value {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: rem(16);
  line-height: math.div(24, 16);
}
