
@import 'styles/shared';

.input-text {

  &__textarea {
    height: rem(32);
    padding: rem(4) rem(8);
    border-radius: rem(4);
    @extend %t-value;
    outline: none;
    user-select: auto;

    &:hover,
    &:focus {
      background: $c-line;
    }
  }
}
