
@import '../../styles/shared';

.input-text {
  display: flex;
  flex-direction: row;
  padding: rem(8) rem(16);
  border-radius: rem(4);
  line-height: 0;
  cursor: text;

  &:hover,
  &:focus-within {
    background: $c-line;
  }

  &__leading-icon {
    margin-left: rem(-8);
    padding-right: rem(8);
  }

  &__field {
    display: grid;
  }

  &__field::after {
    content: attr(data-autogrow-value) " ";
    visibility: hidden;
  }

  &__textarea {
    outline: none;
    user-select: auto;
  }

  &__field::after,
  &__textarea {
    // Textarea autogrow trick taken from:
    // https://gomakethings.com/how-to-automatically-size-a-textarea-based-on-its-using-vanilla-javascript/
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
    padding: 0;
    @extend %t-value;
    white-space: pre-wrap;
    word-break: break-word;
  }

  &--slim {
    padding: rem(4) rem(8);
  }

  &--muted,
  .modal & {
    background: $c-muted;

    &:hover,
    &:focus-within {
      background: $c-muted;
    }
  }
}
