
@import '../../styles/shared';

.button {
  display: inline-flex;
  flex-direction: row;
  min-width: rem(32);
  height: rem(32);
  align-items: stretch;
  justify-content: center;
  padding: 0 rem(8);
  border-radius: rem(4);
  line-height: 0;
  color: $c-control-default-color;
  background: $c-control-default-background;
  outline: none;

  &--meta {
    color: $c-meta;
  }

  &--alt {
    background: $c-muted;
  }

  &--icon {
    padding: 0;
  }

  &:hover {
    color: $c-control-hover-color;
    background: $c-control-hover-background;
  }

  &:focus-visible {
    color: $c-control-hover-color;
    background: $c-control-hover-background;
  }

  &:active {
    color: $c-control-active-color;
    background: $c-control-active-background;
  }

  &:disabled {
    color: $c-control-disabled-color;
    background: $c-control-disabled-background;
    cursor: default;
  }

  &--alt:disabled {
    background: $c-muted;
  }

  &--large {
    height: rem(40);
    min-width: rem(40);
    border-radius: rem(8);
  }

  &__icon {
    display: flex;
    align-items: center;
    padding: 0 rem(4);
  }

  &--large &__icon {
    padding: 0 rem(8);
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__icon + &__label {
    margin-left: rem(-4);
    padding-right: rem(4);
  }

  &--large &__label {
    padding-right: rem(16);
  }

  &__icon + &--large &__label {
    margin-left: rem(-8);
  }

  .toolbar__group .toolbar__button:not(:first-child):not(:last-child) & {
    border-radius: 0;
  }

  .toolbar__group .toolbar__button:first-child & {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .toolbar__group .toolbar__button:last-child & {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
