
@import '../../styles/shared';

.logo {
  color: $c-text;
  line-height: 0;

  &__canvas {
    margin: rem(-3);
  }

  &__svg {
    fill: $c-primary;
    width: rem(169);
    height: rem(36);
  }

  &__svg-wordmark {
    fill: currentColor;
  }
}
