
@import '../../styles/shared';

.modal {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: rem(640);
  border-radius: rem(16);
  background: $c-background;
  pointer-events: initial;
  box-shadow: 0 0 rem(64) rem(32) $c-muted;

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(16) rem(16) 0 rem(24);
    margin: 0 0 rem(16) 0;

    @include breakpoint(l) {
      padding: rem(16) rem(16) 0 rem(32);
    }
  }

  &__title {
    @extend %t-h3;
  }

  &__content {
    padding: 0 rem(24);

    @include breakpoint(l) {
      padding: 0 rem(32);
    }
  }

  &__footer {
    margin-top: rem(24);

    @include breakpoint(l) {
      margin-top: rem(32);
    }
  }

  &__section {
    margin: rem(24) 0;
  }

  &__section-headline {
    padding-bottom: rem(4);
    @extend %t-h4;
    color: $c-meta;
  }
}
